{% extends "::layout-admin.html.twig" %}

{% block title %}
    {{ parent() }} - Supprimer Congrès
{% endblock %}

{% block body %}
    <section  class="admin-content">
        <div class="admin-container">
            <h2>Supprimer un congres</h2>
            <p>Etes-vous certain de vouloir supprimer ce congrès ?</p>
            
            <form action="{{ path('tv_congres_delete', {'id': congres.id}) }}" method="post">
                <a href="{{ path('tv_user_admin_congres', {'id': congres.id}) }}" class="btn">Annuler</a>
                <input type="submit" value="Supprimer" class="btn">
                {{ form_rest(form) }}
            </form>
        </div>
    </section>
{% endblock %}