{# src/TV/CipiqsBundle/Resources/views/Page/activities.html.twig #}

{% extends "TVCipiqsBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Nos Activités
{% endblock %}

{% block cipiqs_body %}
    
    <section class="border-top">
        <div class="container">
            <h2>Nos Activités</h2>
            <h3 class="first">Brève historique de nos activités :</h3>
            <p>Les premières activités de l’association ont été l’organisation de formations aux outils qualité. Des travaux concernant ces nouveaux outils ont débouché sur la publication de deux cahiers.</p>
            <p>Chaque année, l'organisation de journées ou d'ateliers permet de réunir nos membres et d'échanger sur des thèmes d'actualité. Des "Partages d'expériences" au niveau local comme dans les "ateliers" des membres à Luxembourg et des symposiums d'étude au niveau internationnal sont l'occasion de présenter des tentatives concrètes d'amélioration de la qualité et d'analyser les difficultés, les méthodes et les facteurs de réussite.</p>

            <h3>Survol des thèmes traités :</h3>
            <ul>
                <li>Juin 1997 : Les nouveaux outils qualité</li>
                <li>Juin 1998 : Les nouveaux outils qualité</li>
                <li>Juin 1999 : Les nouveaux outils qualité</li>
                <li>Novembre 1999 : L’analyse des coûts cachés</li>
                <li>Décembre 2000 : Tours et détours d’expériences qualité</li>
                <li>Mars 2001 : La qualité des soins de santé demain, quels choix stratégiques aujourd’hui ?</li>
                <li>Décembre 2001 : Le patient au cœur de l’amélioration de la qualité ?</li>
                <li>Octobre 2002 : Quels indicateurs pour quelle qualité ?</li>
                <li>Janvier 2004 : La gestion des risques : enjeux et réalisations</li>
                <li>Juin 2005 : Vers la maîtrise des Incidents et Accidents: cultures, stratégies, méthodes.</li>
                <li>Juin 2006 : Les itinéraires cliniques : outil stratégique de la qualité des soins ?</li>
                <li>Décembre 2006 : Présentations d'expériences.</li>
                <li>Juin 2007 : Evaluation des pratiques professionnelles.</li>
                <li>Juin 2008 : Concepts et mise en pratique de la démarche processus.</li>
                <li>Mai 2009 : Des résultats attendus aux résultats obtenus : indicateurs et gestion de projet.</li>
                <li>Mars 2010 : Visioconférence sur la déclaration des événements indésirables, en collaboration avec le "Réseau pour l'amélioration continue de la qualité" (RACQ, Montréal).</li>
                <li>Mai 2010 : La satisfaction dans tous ses états.</li>
                <li>Octobre 2010 : Visioconférence sur le traitement des déclarations d'événements indésirables.</li>
                <li>Novembre 2010 : Safe surgery (Workshop ESQH).</li>
                <li>Mai 2011 : Visioconférence sur la sécurité au bloc opératoire par l'utilisation de la check list.</li>
                <li>Octobre 2011 : Le développement de la gestion des risques à l'hôpital, impact et perspectives.</li>
            </ul>

            <h3>Rédaction et diffusion de directives de bonnes pratiques "evidence based" en art infirmier</h3>
            <p>En 2005, le Comité exécutif a saisi l’occasion d’un appel d’offre du Ministère belge des Affaires Sociales et de la Santé Publique (SPF) pour proposer l’expertise de l’association.</p>
            <p>La nouvelle activité ainsi organisée est un travail de recherche pour le compte du Ministère ayant pour objet : « La rédaction et la diffusion de directives de bonnes pratiques en art infirmier pour les soins à domicile : les soins de plaies. ».</p>
            <p>Grâce à une collaboration avec le CHR de la Citadelle à Liège, la CIPIQ-S s’est adjoint un chargé de recherche encadré par un comité d’experts CIPIQ-S et un Comité d’accompagnement.</p>

            <a href="{{ asset('cipiqs/pdf/presentation_putzeys.pdf')}}" target="blank">Présentation .ppt du projet par Dominique Putzeys, notre chargé de recherche. (09 juin 2006).</a>

            <p>Suite à cette phase 1, une phase 2 :</p>
            <p>Sur base de cette réalisation, le SPF a fait accorder un subside à la CIPIQ-S (<a href="{{ asset('cipiqs/pdf/arsubside2007.pdf')}}" target="blank">Arrêté Royal du 06 décembre 2006</a>) dans le but d'organiser:</p>
            <ul>
                <li>La préparation d’une intégration durable d’une pratique "Evidence-based" au sein des soins infirmiers à domicile par le biais:
                    <ul>
                        <li>De la définition et de la validation d’une méthodologie de mise en œuvre de directives pour les soins infirmiers à domicile, basée sur les preuves scientifiques disponibles, avec l’apport de tous les intervenants de la première ligne de soins.</li>
                        <li>De la définition et la validation d’une méthodologie d’implémentation et de diffusion des dites directives dans les soins infirmiers à domicile et chez les praticiens de la première ligne de soins.</li>
                        <li>De la définition et de la validation d’une méthodologie pour l’enseignement et l’évaluation de la mise en œuvre des dites directives dans le cadre des soins infirmiers à domicile.</li>
                    </ul>
                </li>
                <li>La promotion de la qualité dans le cadre des soins infirmiers à domicile, notamment par la production de directives « Evidence-based » pour les soins infirmiers à domicile, par le biais:
                    <ul>
                        <li>De la rédaction de recommandations de bonne pratique dans le cadre des soins infirmiers à domicile, dont le sujet et les modalités seront définis en accord avec le Service public fédéral Santé publique, Sécurité de la Chaîne alimentaire et Environnement et la CIPIQ-S.</li>
                        <li>De la révision régulière des dites directives et actualisation de celles-ci sur base d’éventuelles nouvelles évidences.</li>
                        <li>De la mise à disposition d’instruments en vue de soutenir l’application des dites directives dans la pratique des soins infirmiers à domicile.</li>
                        <li>De la mise à disposition d’instruments pour la diffusion des dites directives</li>
                        <li>De l’évaluation de la mise en application des dites directives dans la pratique des soins à domicile</li>
                    </ul>
                </li>
            </ul>

            <p>Cette phase devant être développée en Flandre et en Wallonie, un deuxième chargé de recherche à mi-temps est mis à disposition grâce à une collaboration avec la Croix-Rouge d'Anvers (Wit-Gele Kruis van Antwerpen vzv).</p>

            <p>Un subside pour une troisième phase poursuivant les mêmes objectifs est octroyé par l'Arrêté Royal du 19 juin 2007, paru au Moniteur le 06 août.</p>

            <p>Un subside pour une quatrième phase poursuivant les mêmes objectifs avec rédaction d'une recommandation de bonnes pratiques pour la prise en charge de la douleur chronique à domicile est octroyé par l'Arrêté Royal du 28 novembre 2008, paru au Moniteur le 02 janvier 2009.</p>

            <p>Grâce à l’augmentation du subside octroyé pour l’année 2009 – 2010,(arrêté royal du 17 novembre 2009, publié le 17 décembre 2009), la CIPIQ-S choisit de développer cinq axes d’activité :</p>
            <ul>
                <li>AXE 1 : Finalisation de la RBP «Prise en charge infirmière de patients souffrant de douleurs chroniques au domicile» et des outils de diffusion</li>
                <li>AXE 2 : Rédaction de la version martyre de la RBP «Prise en charge infirmière des plaies d’escarres en soins à domicile»</li>
                <li>AXE 3 : Analyse de la diffusion de la RBP «Prise en charge des ulcères variqueux en soins à domicile</li>
                <li>AXE 4 : Analyse des attentes des infirmières en soins à domicile en matière de formation à l’EBN</li>
                <li>AXE 5 : Première analyse de la littérature pour la révision de la RBP «Prise en charge des ulcères variqueux en soins à domicile» - ce travail est commencé en 2010 et terminé début 2011</li>
            </ul>

            <p>Pour l’année 2010 – 2011, la CIPIQ-S développe cinq axes d’activité :</p>
            <ul>
                <li>AXE 1 : Diffusion des outils (brochure et poster) relatifs  à la recommandation « Prise en charge de patients souffrant de douleurs chroniques au domicile » ;</li>
                <li>AXE 2 : Mise en œuvre d’un forum sur la recommandation « Prise en charge de patients souffrant de douleurs chroniques au domicile »  et développement d’un programme d’information des professionnels des soins à domicile ;</li>
                <li>AXE 3 : Rédaction de la version finale validée de la RBP sur «La prévention des plaies d’escarres en  soins à domicile » ;</li>
                <li>AXE 4 : Introduire la recherche de littérature d’une nouvelle recommandation de bonne pratique sur « la prise en charge des patients souffrant d’un  diabète de type 2 insulino requérant , en soins infirmier à domicile ».</li>
            </ul>

            <h3>Nouveau développement: Visio conférences</h3>
            <p>Depuis mars 2010, l'asssociation organise des visio conférences internationales entre plusieurs sites. Les premiers thèmes traités concernent la déclaration et le traitement des événements indésirables, la sécurité au bloc opératoire.</p>
            <p>Les visioconférences de 2012 sont consacrées à la performance et à la sécurité du circuit du médicament.</p>

        </div>
</section>

{% endblock %}
