{# src/TV/CipiqsBundle/Resources/views/Page/status.html.twig #}

{% extends "TVCipiqsBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Nos Statuts
{% endblock %}

{% block cipiqs_body %}
    
    <section class="border-top">
        <div class="container">

            <h2>Nos Statuts</h2>
            <p class="right collabo">COLLABORATION INTERNATIONALE DES PRATICIENS ET INTERVENANTS EN QUALITE SANTE A.S.B.L.</p>
            <h3 class="first">CHAPITRE A: DENOMINATION, SIEGE, DUREE, OBJET</h3>

            <h4 class="first">Art. 1</h4>
            <p>Est créé une association sans but lucratif qui prend la dénomination de C.I.P.I.Q.S. (Collaboration Internationale des Praticiens et Intervenants en Qualité Santé).</p>

            <h4>Art. 2</h4>
            <p>Son siège est à Luxembourg. Il peut-être transféré dans un autre pays par décision de l’Assemblée Générale (A.G.) </p>

            <h4>Art. 3</h4>
            <p>Sa durée est illimitée </p>

            <h4>Art. 4</h4>
            <p>L’association a pour objectif la promotion de la Qualité dans le domaine de la Santé. L’association oriente prioritairement ses activités Qualité en faveur des bénéficiaires de soins et des prestataires de soins et de services dans le respect de l’éthique et des déontologies professionnelles.</p>
            <p>Pour concrétiser cet objectif, elle s’engage:</p>
            <ul>
                <li>à promouvoir et soutenir l’interdisciplinarité dans le domaine de la Qualité Santé au-delà de toute frontière géographique </li>
                <li>à initier ou/et à soutenir des projets et programmes de recherche en Qualité Santé collectifs et/ou multicentriques</li>
                <li>à échanger des expériences sur l’implantation et la conduite de programmes d’amélioration continue de la Qualité</li>
                <li>à promouvoir la consultance mutuelle gracieuse dans le domaine méthodologique et stratégique de la Qualité</li>
                <li>à assurer l’information, la communication, la publication dans le domaine de la Qualité Santé</li>
                <li>à proposer des formations continues</li>
                <li>à collaborer ou participer en tant qu’association représentant des praticiens et intervenants en Qualité Santé aux décisions nationales ou internationales dans le domaine de la Qualité Santé</li>
                <li>à promouvoir la représentation de ses membres dans les organes nationaux ou internationaux</li>
                <li>à établir dans une optique de concertation des liens avec : 
                    <ul>
                        <li>les autres associations s’occupant de la Qualité dans le domaine de la Santé,</li>
                        <li>les formateurs et les instances de formation dans le domaine de la Qualité Santé,</li>
                        <li>les associations de bénéficiaires et de prestataires.</li>
                    </ul>
                </li>
            </ul>

            <h4>Art. 5</h4>
            <p>L’association est politiquement et confessionnellement neutre</p>

            <h3>CHAPITRE B: MEMBRES, COTISATION </h3>

            <h4 class="first">Art. 6</h4>
            <p>L’association comprend :</p>
            <ul>
                <li>des membres effectifs</li>
                <li>des membres d’honneur</li>
                <li>des conseillers techniques</li>
            </ul>

            <h4>Art. 7</h4>
            <p>Les membres effectifs :</p>
            <ul>
                <li>peuvent devenir membres effectifs 
                    <ul>
                        <li>des personnes physiques, praticiens ou intervenants dans le domaine de la Qualité Santé, </li>
                        <li>des personnes physiques représentant des personnes morales exerçant leur activité dans le domaine de la Qualité Santé. Une même personne ne peut à la fois être membre à titre de personne physique et de représentant d’une personne morale.</li>
                    </ul>
                </li>
                <li>les membres effectifs paient une cotisation annuelle dont le montant est à fixer annuellement par l’A.G.. La cotisation ne pourra dépasser la somme de 1000 francs luxembourgeois à la valeur 100 de l’indice pondéré officiel des prix à la consommation au Grand-Duché de Luxembourg.</li>
            </ul>

            <h4>Art. 8</h4>
            <p>Peuvent devenir membres d’honneur :</p>
            <ul>
                <li>les personnes physiques qui soit par des dons, soit par les services rendus à l’association ou encore qui se sont particulièrement distinguées dans le domaine de la Qualité Santé, </li>
                <li>les membres honoraires sont proclamés par le Conseil d’Administration,</li>
                <li>ils ne paient pas de cotisation et ils n’ont pas de droit de vote.</li>
            </ul>

            <h4>Art. 9</h4>
            <p>Conseillers techniques</p>
            <ul>
                <li>Le Conseil d’Administration peut recourir à des conseillers techniques et à des commissions d’études qui pourront assister sur convocation à titre consultatif aux réunions et assemblées.</li>
            </ul>
            <p>Le Conseil d’Administration fixera le cas échéant leurs rémunérati</p>

            <h4>Art. 10</h4>
            <p>Perte de qualité de membre - démission</p>

            <h4>Art. 10-1</h4>
            <p>La qualité de membre se perd :</p>
            <ul>
                <li>pour le membre effectif :
                    <ul>
                        <li>par l’abandon des fonctions de praticien ou intervenant en Qualité Santé </li>
                        <li>par la démission volontaire</li>
                        <li>par le non-respect des présents statuts </li>
                        <li>par le non-paiement des cotisations </li>
                        <li>par l’exclusion à prononcer par décision à la majorité des 2/3 des voix de l’Assemblée Générale </li>
                        <li>par la perte de la représentation de la personne morale</li>
                    </ul>
                </li>
                <li>pour le membre d’honneur:
                    <ul>
                        <li>par la démission volontaire</li>
                        <li>par le non-respect des statuts</li>
                        <li>par l’exclusion à prononcer par décision à la majorité des 2/3 des voix de l’Assemblée Générale.</li>
                    </ul>
                </li>
            </ul>

            <h4>Art. 10-2</h4>
            <p>Les membres démissionnaires ou exclus ne peuvent réclamer le remboursement des cotisations. L’Assemblée Générale statuera sur les demandes de réintégration.</p>

            <h3>CHAPITRE C: ASSEMBLEE</h3>

            <h4 class="first">Art. 11</h4>
            <p>L’Assemblée Générale a lieu chaque année et est convoquée par écrit. Le Conseil d’Administration en fixera la date et enverra au moins 1 mois à l’avance les convocations qui comporteront l’ordre du jour.</p>
            <p>Le Conseil d’Administration peut convoquer une Assemblée Générale Extraordinaire chaque fois qu’il le juge nécessaire. A la suite d’une demande écrite lui parvenant de la part d’un tiers des membres, le Conseil d’Administration doit convoquer une Assemblée Générale Extraordinaire dans le mois.</p>

            <h4>Art. 12</h4>
            <p>L’Assemblée Générale délibère à la majorité des membres présents. Chaque membre effectif dispose d’une voix.</p>
            <p>En cas d’absence du membre effectif, celui-ci peut donner procuration écrite à un autre membre effectif. Chaque membre effectif ne peut recevoir qu’une seule procuration. Elle mentionne le nom du mandataire.</p>
            <p>Les signataires du présent acte sont les premiers membres effectifs de l’a.s.b.l.</p>

            <h4>Art. 13</h4>
            <p>Le procès-verbal de l’assemblée générale après approbation par le Conseil d’Administration sera rédigé dans le délais de 1 mois et publié en totalité ou par extraits dans l’organe officiel de l’association.</p>

            <h4>Art. 14</h4>
            <p>L’A.G. est le pouvoir souverain du C.I.P.I.Q.S. Seul les membres effectifs ont le droit de vote.</p>
            <p>Sont réservées à sa compétence :</p>
            <ul>
                <li>la nomination et la révocation des membres du Conseil d’Administration. Le nouveau conseil tient sa première séance à la suite de l’A.G., </li>
                <li>l’approbation des budgets et des comptes, </li>
                <li>la modification des statuts, </li>
                <li>la désignation de deux réviseurs de caisse, </li>
                <li>l’admission et l’exclusion des membres, </li>
                <li>la fixation des cotisations,</li>
                <li>la dissolution volontaire du C.I.P.I.Q.S.</li>
            </ul>


            <h3>CHAPITRE D: ADMINISTRATION</h3>

            <h4 class="first">Art. 15</h4>
            <p>L’association est gérée par un Conseil d’Administration composé de 5 membres au moins et de 24 membres au plus. Tous doivent être membres effectifs.</p>

            <h4>Art. 15.1</h4>
            <p>Le président, le secrétaire et le trésorier sont élus par vote secret à la majorité relative par le C.A. pour la durée de trois ans. Pendant les trois premières années toutefois, est procédé chaque année à l’élection d’une de ces 3 fonctions afin de garantir la continuité.</p>
            <p>Les candidatures pour ces trois fonctions doivent parvenir par lettre recommandée au Conseil d’Administration en exercice au plus tard le jour de l’A.G..</p>
            <p>Lorsque le mandat du président, secrétaire ou trésorier devient vacant, le Conseil d’Administration procède à la nomination au plus prochain conseil d’un nouveau président, secrétaire ou trésorier.</p>

            <h4>Art. 15.2</h4>
            <p>Les mandats des membres du CA ont une durée de 2 années.</p>

            <h4>Art. 16</h4>
            <p>Les membres sortants du Conseil d’Administration sont rééligibles. Les administrateurs sont révocables pour motifs graves par l’Assemblée Générale, statuant à la majorité des 2/3 des voix. </p>

            <h4>Art. 17</h4>
            <p>Le Conseil d’Administration est convoqué soit par le président, soit par le secrétaire. Le Conseil d’Administration ne peut délibérer valablement que si la majorité des membres est présentes ou représentée. Les décisions sont prises à la majorité des membres présents ou représentés En cas de partage des voix, celle du président est prépondérante. </p>

            <h4>Art. 18</h4>
            <p>Les signatures conjointes du président ou de son représentant et d’un membre du Conseil d’Administration engagent valablement l’association. L’engagement est limité aux biens de l’association. </p>

            <h4>Art. 19</h4>
            <p>Le Conseil d’Administration a tous les pouvoirs qui ne sont pas expressément réservés à l’Assemblée Générale par la loi luxembourgeoise ou par les présents statuts.</p>

            <h3>CHAPITRE E: DIVERS</h3>

            <h4 class="first">Art. 19</h4>
            <p>Le Conseil d’Administration a tous les pouvoirs qui ne sont pas expressément réservés à l’Assemblée Générale par la loi luxembourgeoise ou par les présents statuts.</p>

            <h4>Art. 20</h4>
            <p>L’année sociale commence le premier janvier et finit le trente et un décembre.</p>

            <h4>Art. 21</h4>
            <p>Les comptes sont clôturés chaque année au 31 décembre et sont soumis à l’assentiment de l’Assemblée Générale suivante. Ils sont revus par deux réviseurs de caisse qui sont nommés par l’Assemblée Générale pour une durée de deux ans. Ils ne peuvent pas être membres du Conseil d’Administration.</p>

            <h4>Art. 22</h4>
            <p>Les modifications des statuts se feront dans les formes et selon les conditions prévues par la loi luxembourgeoise du 21.04.1928 telle que modifiée sur les a.s.b.l. .</p>

            <h4>Art. 23</h4>
            <p>Les présents statuts peuvent être complétés par un règlement d’ordre intérieur.</p>

            <h4>Art. 24</h4>
            <p>En cas de dissolution, le patrimoine sera transmis à une association à but non lucratif définie par le dernier C.A. après liquidation des dettes.</p>

            <h4>Art. 25</h4>
            <p>Les dispositions de la loi luxembourgeoise du 21.04.1928 telle que modifiée sont applicables à tous les cas non prévus par les présents statuts.</p>

        </div>
</section>

{% endblock %}